page-home {
    .toolbar-background {
        background: #fff;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%!important;
    }
    .slide-title {
        margin-top: 2.8rem;
    }
    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
    }
    b {
        font-weight: 500;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
        b {
            color: #000000;
        }
    }
    .logo {
        background: #ffffff;
        position: absolute;
        top: 7%;
        left: 0;
        right: 0;
        margin: auto;
        width: 30%;
        height: "40%";
    }
    .toggle-icon {
        margin: auto;
        left: 0;
        right: 0;
    }
    .center {
        left: 0;
        right: 0;
        margin: auto;
    }
    ion-select {
        max-width: 80%;
    }
}